Repository timescale/timescaledb, pull requests merged in 2020-08, with the labels that each got.

#2171 Remove requirement of CASCADE from DROP VIEW
  src/process_utility.c
  tsl/test/expected/bgw_reorder_drop_chunks.out
  tsl/test/expected/continuous_aggs.out
  tsl/test/expected/continuous_aggs_bgw.out
  tsl/test/expected/continuous_aggs_dump.out
  tsl/test/expected/continuous_aggs_errors.out
  tsl/test/expected/continuous_aggs_materialize.out
  tsl/test/expected/continuous_aggs_multi.out
  tsl/test/expected/continuous_aggs_permissions.out
  tsl/test/expected/continuous_aggs_union_view-11.out
  tsl/test/expected/continuous_aggs_union_view-12.out
  tsl/test/expected/continuous_aggs_usage.out
  tsl/test/expected/transparent_decompression-11.out
  tsl/test/expected/transparent_decompression-12.out
  tsl/test/sql/bgw_reorder_drop_chunks.sql
  tsl/test/sql/continuous_aggs.sql
  tsl/test/sql/continuous_aggs_bgw.sql
  tsl/test/sql/continuous_aggs_dump.sql
  tsl/test/sql/continuous_aggs_errors.sql
  tsl/test/sql/continuous_aggs_materialize.sql
  tsl/test/sql/continuous_aggs_multi.sql
  tsl/test/sql/continuous_aggs_permissions.sql
  tsl/test/sql/continuous_aggs_union_view.sql.in
  tsl/test/sql/continuous_aggs_usage.sql
  tsl/test/sql/include/cont_agg_equal.sql
  tsl/test/sql/include/transparent_decompression_query.sql
Labels: 2.0-proposed, breaks-api, continuous-aggs

#2183 Refactor retention policy
  sql/bgw_scheduler.sql
  sql/pre_install/tables.sql
  sql/pre_install/types.functions.sql
  sql/pre_install/types.pre.sql
  sql/updates/1.4.2--1.5.0.sql
  sql/updates/latest-dev.sql
  sql/views.sql
  src/CMakeLists.txt
  src/bgw/job.c
  src/bgw_policy/CMakeLists.txt
  src/bgw_policy/drop_chunks.c
  src/bgw_policy/drop_chunks.h
  src/bgw_policy/policy.c
  src/bgw_policy/policy.h
  src/catalog.c
  src/catalog.h
  src/chunk.c
  src/cross_module_fn.c
  src/cross_module_fn.h
  src/dimension.c
  src/dimension.h
  src/hypertable.c
  src/interval.c
  src/interval.h
  src/telemetry/telemetry.c
  src/utils.c
  src/utils.h
  tsl/src/bgw_policy/CMakeLists.txt
  tsl/src/bgw_policy/compression_api.c
  tsl/src/bgw_policy/drop_chunks_api.c
  tsl/src/bgw_policy/drop_chunks_api.h
  tsl/src/bgw_policy/job.c
  tsl/src/bgw_policy/job.h
  tsl/src/bgw_policy/retention_api.c
  tsl/src/bgw_policy/retention_api.h
  tsl/src/continuous_aggs/insert.c
  tsl/src/continuous_aggs/materialize.c
  tsl/src/hypertable.c
  tsl/src/hypertable.h
  tsl/src/init.c
  tsl/test/expected/bgw_policy.out
  tsl/test/expected/bgw_reorder_drop_chunks.out
  tsl/test/expected/compress_bgw_reorder_drop_chunks.out
  tsl/test/expected/compression_errors.out
  tsl/test/expected/continuous_aggs_bgw_drop_chunks.out
  tsl/test/expected/tsl_tables.out
  tsl/test/sql/bgw_reorder_drop_chunks.sql
  tsl/test/sql/compress_bgw_reorder_drop_chunks.sql
  tsl/test/sql/tsl_tables.sql
  tsl/test/src/test_auto_policy.c
Labels: background-worker, refactoring

#2190 Remove enabling enterprise from compression test
  tsl/test/expected/compression_bgw.out
  tsl/test/sql/compression_bgw.sql
Labels: cleanup, testing

#2184 Fix background worker scheduler memory consumption
  src/bgw/job.c
  src/bgw/job.h
  src/bgw/scheduler.c
  src/bgw/scheduler.h
  test/src/bgw/scheduler_mock.c
Labels: background-worker

#2208 Make application name for bgw jobs unique
  sql/bgw_scheduler.sql
  sql/updates/latest-dev.sql
  src/bgw/job.c
  test/expected/bgw_db_scheduler.out
  tsl/test/expected/bgw_policy.out
  tsl/test/expected/bgw_reorder_drop_chunks.out
  tsl/test/expected/compress_bgw_reorder_drop_chunks.out
  tsl/test/expected/compression_bgw.out
  tsl/test/expected/continuous_aggs.out
  tsl/test/expected/continuous_aggs_bgw.out
  tsl/test/expected/tsl_tables.out
Labels: background-worker, docs-update-needed

#2203 Refactor continuous aggregate policy
  sql/bgw_scheduler.sql
  sql/pre_install/tables.sql
  sql/updates/latest-dev.sql
  sql/updates/post-update.sql
  sql/views.sql
  src/bgw/job.c
  src/bgw/job.h
  src/bgw/job_stat.c
  src/bgw/job_stat.h
  src/bgw/scheduler.c
  src/catalog.c
  src/catalog.h
  src/continuous_agg.c
  src/continuous_agg.h
  src/cross_module_fn.c
  src/cross_module_fn.h
  test/expected/bgw_db_scheduler.out
  test/isolation/expected/bgw_job_delete.out
  test/isolation/specs/bgw_job_delete.spec.in
  test/sql/bgw_db_scheduler.sql
  test/src/bgw/scheduler_mock.c
  tsl/src/bgw_policy/CMakeLists.txt
  tsl/src/bgw_policy/continuous_aggregate_api.c
  tsl/src/bgw_policy/continuous_aggregate_api.h
  tsl/src/bgw_policy/job.c
  tsl/src/bgw_policy/job.h
  tsl/src/continuous_aggs/create.c
  tsl/src/continuous_aggs/job.c
  tsl/src/continuous_aggs/job.h
  tsl/src/continuous_aggs/options.c
  tsl/src/init.c
  tsl/test/expected/compression_bgw.out
  tsl/test/expected/compression_ddl.out
  tsl/test/expected/continuous_aggs.out
  tsl/test/expected/continuous_aggs_bgw.out
  tsl/test/expected/continuous_aggs_bgw_drop_chunks.out
  tsl/test/expected/continuous_aggs_ddl.out
  tsl/test/expected/continuous_aggs_errors.out
  tsl/test/expected/continuous_aggs_materialize.out
  tsl/test/expected/continuous_aggs_multi.out
  tsl/test/expected/continuous_aggs_usage.out
  tsl/test/expected/continuous_aggs_watermark.out
  tsl/test/isolation/expected/continuous_aggs_multi.out
  tsl/test/isolation/specs/continuous_aggs_insert.spec
  tsl/test/isolation/specs/continuous_aggs_multi.spec
  tsl/test/sql/compression_bgw.sql
  tsl/test/sql/compression_ddl.sql
  tsl/test/sql/continuous_aggs.sql
  tsl/test/sql/continuous_aggs_bgw.sql
  tsl/test/sql/continuous_aggs_bgw_drop_chunks.sql
  tsl/test/sql/continuous_aggs_ddl.sql
  tsl/test/sql/continuous_aggs_errors.sql
  tsl/test/sql/continuous_aggs_materialize.sql
  tsl/test/sql/continuous_aggs_multi.sql
  tsl/test/sql/continuous_aggs_usage.sql
  tsl/test/sql/continuous_aggs_watermark.sql
Labels: background-worker, docs-update-needed

#2210 Merge continuous aggregate invalidations
  tsl/src/continuous_aggs/invalidation.c
  tsl/src/continuous_aggs/invalidation.h
  tsl/src/continuous_aggs/materialize.c
  tsl/src/continuous_aggs/materialize.h
  tsl/src/continuous_aggs/refresh.c
  tsl/test/expected/continuous_aggs_invalidation.out
  tsl/test/sql/continuous_aggs_invalidation.sql
Labels: continuous-aggs

#2231 Block data migration for distributed hypertables
  src/hypertable.c
  tsl/test/expected/dist_hypertable-11.out
  tsl/test/expected/dist_hypertable-12.out
  tsl/test/sql/dist_hypertable.sql.in
Labels: multinode

#2245 Cleanup drop and show chunks
  sql/ddl_api.sql
  sql/updates/latest-dev.sql
  src/CMakeLists.txt
  src/chunk.c
  src/chunk.h
  src/cross_module_fn.c
  src/cross_module_fn.h
  src/dimension.c
  src/dimension.h
  src/time_utils.c
  src/time_utils.h
  test/expected/chunk_utils.out
  test/expected/chunk_utils_compression.out
  test/expected/relocate_extension.out
  test/sql/chunk_utils.sql
  test/sql/chunk_utils_compression.sql
  test/sql/relocate_extension.sql
  tsl/src/chunk.c
  tsl/src/continuous_aggs/CMakeLists.txt
  tsl/src/continuous_aggs/drop.c
  tsl/src/continuous_aggs/drop.h
  tsl/src/continuous_aggs/refresh.c
  tsl/src/init.c
  tsl/test/expected/continuous_aggs_bgw_drop_chunks.out
  tsl/test/expected/continuous_aggs_ddl.out
  tsl/test/expected/continuous_aggs_refresh.out
  tsl/test/sql/continuous_aggs_bgw_drop_chunks.sql
  tsl/test/sql/continuous_aggs_ddl.sql
  tsl/test/sql/continuous_aggs_refresh.sql
Labels: cleanup, docs-update-needed

#2259 Fix recursion in cache processing
  src/extension.c
Labels: bug

#2263 Fix timestamp overflow in time_bucket optimization
  src/plan_expand_hypertable.c
  src/utils.c
  src/utils.h
  test/expected/plan_expand_hypertable-11.out
  test/expected/plan_expand_hypertable-12.out
  test/expected/timestamp_limits.out
  test/sql/CMakeLists.txt
  test/sql/include/plan_expand_hypertable_errors.sql
  test/sql/include/plan_expand_hypertable_query.sql
  test/sql/plan_expand_hypertable.sql.in
  test/sql/timestamp_limits.sql
  test/src/test_time_to_internal.c
  tsl/src/continuous_aggs/refresh.c
  tsl/test/expected/continuous_aggs_refresh.out
  tsl/test/sql/continuous_aggs_refresh.sql
Labels: bug

#2290 Fix issues relate to non-inclusive refresh window
  tsl/src/continuous_aggs/invalidation.c
  tsl/src/continuous_aggs/refresh.c
  tsl/test/expected/continuous_aggs_invalidation.out
  tsl/test/sql/continuous_aggs_invalidation.sql
Labels: bug, continuous-aggs

#2280 Add TRUNCATE support for continuous aggregates
  src/cross_module_fn.c
  src/cross_module_fn.h
  src/process_utility.c
  tsl/src/continuous_aggs/insert.c
  tsl/src/continuous_aggs/invalidation.c
  tsl/src/continuous_aggs/invalidation.h
  tsl/src/init.c
  tsl/test/expected/continuous_aggs_ddl.out
  tsl/test/expected/continuous_aggs_invalidation.out
  tsl/test/sql/continuous_aggs_ddl.sql
  tsl/test/sql/continuous_aggs_invalidation.sql
Labels: continuous-aggs
