Repository timescale/timescaledb, pull requests merged in 2020-02, with the labels that each got.

#1687 Support disabling compression when foreign keys are present
  CHANGELOG.md
  tsl/src/compression/create.c
  tsl/test/expected/compression_errors.out
  tsl/test/sql/compression_errors.sql
Labels: Compression

#1686 Fix segment_by var for decompress chunk node
  CHANGELOG.md
  tsl/src/nodes/decompress_chunk/decompress_chunk.c
  tsl/src/nodes/decompress_chunk/planner.c
  tsl/test/expected/transparent_decompression_queries.out
  tsl/test/sql/CMakeLists.txt
  tsl/test/sql/transparent_decompression_queries.sql
Labels: Compression

#1672 Move enterprise features to community
  CHANGELOG.md
  src/cross_module_fn.c
  tsl/src/bgw_policy/drop_chunks_api.c
  tsl/src/bgw_policy/job.c
  tsl/src/bgw_policy/reorder_api.c
  tsl/src/nodes/gapfill/gapfill.c
  tsl/src/nodes/gapfill/planner.c
  tsl/src/reorder.c
  tsl/test/expected/bgw_policy.out
  tsl/test/expected/bgw_reorder_drop_chunks.out
  tsl/test/expected/compress_bgw_drop_chunks.out
  tsl/test/expected/compression_bgw.out
  tsl/test/expected/compression_errors.out
  tsl/test/expected/continuous_aggs_permissions-10.out
  tsl/test/expected/continuous_aggs_permissions-11.out
  tsl/test/expected/continuous_aggs_permissions-9.6.out
  tsl/test/expected/gapfill.out
  tsl/test/expected/plan_gapfill-10.out
  tsl/test/expected/plan_gapfill-11.out
  tsl/test/expected/plan_gapfill-9.6.out
  tsl/test/expected/reorder.out
  tsl/test/expected/tsl_tables.out
  tsl/test/isolation/expected/reorder_deadlock.out
  tsl/test/isolation/expected/reorder_vs_insert.out
  tsl/test/isolation/expected/reorder_vs_insert_other_chunk.out
  tsl/test/isolation/expected/reorder_vs_select.out
  tsl/test/sql/tsl_tables.sql
Labels: docs-update-needed, license

#1710 Remove plan costs from test output
  tsl/test/expected/continuous_aggs_query-10.out
  tsl/test/expected/continuous_aggs_query-11.out
  tsl/test/expected/continuous_aggs_query-9.6.out
  tsl/test/sql/continuous_aggs_query.sql.in
Labels: testing

#1666 Drop chunks from materialized hypertables
  CHANGELOG.md
  src/chunk.c
  src/chunk.h
  src/continuous_agg.c
  src/continuous_agg.h
  src/cross_module_fn.c
  src/cross_module_fn.h
  src/hypertable.c
  src/interval.c
  src/interval.h
  test/expected/chunk_utils.out
  test/sql/chunk_utils.sql
  tsl/src/bgw_policy/drop_chunks_api.c
  tsl/src/bgw_policy/job.c
  tsl/src/continuous_aggs/drop.c
  tsl/src/continuous_aggs/drop.h
  tsl/test/expected/bgw_policy.out
  tsl/test/expected/compression_errors.out
  tsl/test/expected/continuous_aggs_bgw_drop_chunks.out
  tsl/test/expected/continuous_aggs_ddl-10.out
  tsl/test/expected/continuous_aggs_ddl-11.out
  tsl/test/expected/continuous_aggs_ddl-9.6.out
  tsl/test/expected/tsl_tables.out
  tsl/test/sql/CMakeLists.txt
  tsl/test/sql/continuous_aggs_bgw_drop_chunks.sql
  tsl/test/sql/continuous_aggs_ddl.sql.in
Labels: continuous-aggs, docs-update-needed
