Repository timescale/timescaledb, pull requests merged in 2020-09, with the labels that each got.

#2241 Remove job_type from bgw_job table
  .travis.yml
  appveyor.yml
  sql/bgw_scheduler.sql
  sql/pre_install/tables.sql
  sql/updates/latest-dev.sql
  sql/views.sql
  src/bgw/job.c
  src/bgw/job.h
  src/bgw/scheduler.c
  src/catalog.h
  test/expected/bgw_db_scheduler.out
  test/expected/pg_dump.out
  test/isolation/expected/bgw_job_delete.out
  test/isolation/specs/CMakeLists.txt
  test/isolation/specs/bgw_job_delete.spec.in
  test/sql/bgw_db_scheduler.sql
  test/src/bgw/scheduler_mock.c
  tsl/src/bgw_policy/compression_api.c
  tsl/src/bgw_policy/job_api.c
  tsl/src/bgw_policy/reorder_api.c
  tsl/src/bgw_policy/retention_api.c
  tsl/src/continuous_aggs/job.c
  tsl/test/expected/bgw_custom.out
  tsl/test/expected/bgw_policy.out
  tsl/test/expected/bgw_reorder_drop_chunks.out
  tsl/test/expected/compress_bgw_reorder_drop_chunks.out
  tsl/test/expected/compression_bgw.out
  tsl/test/expected/compression_ddl.out
  tsl/test/expected/continuous_aggs.out
  tsl/test/expected/continuous_aggs_bgw.out
  tsl/test/expected/continuous_aggs_watermark.out
  tsl/test/expected/tsl_tables.out
  tsl/test/sql/bgw_policy.sql
  tsl/test/sql/bgw_reorder_drop_chunks.sql
  tsl/test/sql/compression_bgw.sql
  tsl/test/sql/compression_ddl.sql
  tsl/test/sql/continuous_aggs_watermark.sql
  tsl/test/sql/tsl_tables.sql
  tsl/test/src/test_chunk_stats.c
Labels: background-worker

#2262 Make hypertable_approximate_row_count return row count only
  sql/size_utils.sql
  sql/updates/latest-dev.sql
  test/expected/extension.out
  test/expected/size_utils.out
  test/sql/size_utils.sql
  tsl/test/expected/compression.out
  tsl/test/expected/dist_api_calls.out
  tsl/test/sql/compression.sql
  tsl/test/sql/dist_api_calls.sql
Labels: breaks-api

#2313 Support tablespaces for continuous aggregates
  src/process_utility.c
  tsl/src/continuous_aggs/create.c
  tsl/test/expected/continuous_aggs_ddl.out
  tsl/test/sql/CMakeLists.txt
  tsl/test/sql/continuous_aggs_ddl.sql
Labels: continuous-aggs

#2309 Disable gapfill on distributed hypertable
  tsl/src/fdw/data_node_scan_plan.c
  tsl/src/nodes/gapfill/planner.c
  tsl/src/nodes/gapfill/planner.h
  tsl/src/planner.c
  tsl/test/expected/dist_api_calls.out
  tsl/test/sql/dist_api_calls.sql
Labels: Gap Fill, bug, multinode

#2310 Fix boundary handling in time types and constraints
  src/dimension.c
  src/plan_expand_hypertable.c
  src/time_bucket.h
  src/time_utils.c
  src/time_utils.h
  src/utils.c
  src/utils.h
  test/expected/c_unit_tests.out
  test/expected/custom_type-11.out
  test/expected/custom_type-12.out
  test/expected/test_utils.out
  test/expected/timestamp_limits.out
  test/sql/c_unit_tests.sql
  test/sql/chunks.sql
  test/sql/custom_type.sql.in
  test/sql/test_utils.sql
  test/sql/timestamp_limits.sql
  test/src/CMakeLists.txt
  test/src/test_time_to_internal.c
  test/src/test_time_utils.c
  tsl/src/continuous_aggs/create.c
  tsl/src/continuous_aggs/materialize.c
  tsl/src/continuous_aggs/refresh.c
  tsl/src/continuous_aggs/refresh.h
  tsl/test/expected/continuous_aggs_invalidation.out
  tsl/test/expected/continuous_aggs_refresh.out
  tsl/test/sql/continuous_aggs_refresh.sql
Labels: bug

#2273 Use end of last bucket as cagg watermark
  sql/util_time.sql
  src/continuous_agg.c
  src/continuous_agg.h
  src/time_utils.c
  src/time_utils.h
  test/src/test_time_utils.c
  tsl/src/continuous_aggs/create.c
  tsl/src/continuous_aggs/refresh.c
  tsl/test/expected/continuous_aggs_permissions.out
  tsl/test/expected/continuous_aggs_union_view-11.out
  tsl/test/expected/continuous_aggs_union_view-12.out
  tsl/test/sql/continuous_aggs_union_view.sql.in
Labels: continuous-aggs

#2312 Block compression policy with dist hypertable
  tsl/src/bgw_policy/compression_api.c
  tsl/test/expected/dist_compression.out
  tsl/test/sql/dist_compression.sql
Labels: multinode

#2338 Cap invalidation threshold at last data bucket
  src/continuous_agg.c
  src/hypertable.c
  src/hypertable.h
  src/time_utils.c
  src/time_utils.h
  tsl/src/continuous_aggs/invalidation_threshold.c
  tsl/src/continuous_aggs/invalidation_threshold.h
  tsl/src/continuous_aggs/materialize.c
  tsl/src/continuous_aggs/refresh.c
  tsl/test/expected/continuous_aggs_invalidation.out
  tsl/test/expected/continuous_aggs_refresh.out
  tsl/test/expected/continuous_aggs_union_view-11.out
  tsl/test/expected/continuous_aggs_union_view-12.out
  tsl/test/sql/continuous_aggs_invalidation.sql
  tsl/test/src/test_continuous_aggs.c
Labels: continuous-aggs

#2349 Continuous aggregate view changes
  sql/views.sql
  test/sql/updates/post.continuous_aggs.v2.sql
  tsl/test/expected/continuous_aggs_bgw.out
  tsl/test/expected/continuous_aggs_materialize.out
  tsl/test/expected/continuous_aggs_multi.out
  tsl/test/expected/continuous_aggs_usage.out
  tsl/test/sql/continuous_aggs_bgw.sql
  tsl/test/sql/continuous_aggs_materialize.sql
  tsl/test/sql/continuous_aggs_multi.sql
  tsl/test/sql/continuous_aggs_usage.sql
Labels: continuous-aggs

#2315 Fix invalidation log initialization
  tsl/src/continuous_aggs/create.c
  tsl/test/expected/continuous_aggs_errors.out
  tsl/test/sql/continuous_aggs_errors.sql
Labels: continuous-aggs

#2347 Support continuous aggregates table access method
  tsl/src/continuous_aggs/create.c
  tsl/test/expected/continuous_aggs_ddl.out
  tsl/test/expected/continuous_aggs_tableam.out
  tsl/test/sql/CMakeLists.txt
  tsl/test/sql/continuous_aggs_ddl.sql
  tsl/test/sql/continuous_aggs_tableam.sql
Labels: continuous-aggs

#2356 Make tests use the new continuous aggregate API
  .github/workflows/alpine-32bit-build-and-test.yaml
  tsl/test/expected/compression.out
  tsl/test/expected/compression_bgw.out
  tsl/test/expected/compression_ddl.out
  tsl/test/expected/continuous_aggs.out
  tsl/test/expected/continuous_aggs_bgw.out
  tsl/test/expected/continuous_aggs_bgw_drop_chunks.out
  tsl/test/expected/continuous_aggs_ddl.out
  tsl/test/expected/continuous_aggs_drop_chunks.out
  tsl/test/expected/continuous_aggs_dump.out
  tsl/test/expected/continuous_aggs_errors.out
  tsl/test/expected/continuous_aggs_materialize.out
  tsl/test/expected/continuous_aggs_multi.out
  tsl/test/expected/continuous_aggs_permissions.out
  tsl/test/expected/continuous_aggs_query-11.out
  tsl/test/expected/continuous_aggs_query-12.out
  tsl/test/expected/continuous_aggs_union_view-11.out
  tsl/test/expected/continuous_aggs_union_view-12.out
  tsl/test/expected/continuous_aggs_usage.out
  tsl/test/expected/jit-11.out
  tsl/test/expected/jit-12.out
  tsl/test/expected/transparent_decompression-11.out
  tsl/test/expected/transparent_decompression-12.out
  tsl/test/isolation/expected/continuous_aggs_insert.out
  tsl/test/isolation/expected/continuous_aggs_multi.out
  tsl/test/isolation/specs/continuous_aggs_insert.spec
  tsl/test/isolation/specs/continuous_aggs_multi.spec
  tsl/test/sql/CMakeLists.txt
  tsl/test/sql/compression.sql
  tsl/test/sql/compression_bgw.sql
  tsl/test/sql/compression_ddl.sql
  tsl/test/sql/continuous_aggs.sql
  tsl/test/sql/continuous_aggs_bgw.sql
  tsl/test/sql/continuous_aggs_bgw_drop_chunks.sql
  tsl/test/sql/continuous_aggs_ddl.sql
  tsl/test/sql/continuous_aggs_drop_chunks.sql
  tsl/test/sql/continuous_aggs_dump.sql
  tsl/test/sql/continuous_aggs_errors.sql
  tsl/test/sql/continuous_aggs_materialize.sql
  tsl/test/sql/continuous_aggs_multi.sql
  tsl/test/sql/continuous_aggs_permissions.sql
  tsl/test/sql/continuous_aggs_query.sql.in
  tsl/test/sql/continuous_aggs_union_view.sql.in
  tsl/test/sql/continuous_aggs_usage.sql
  tsl/test/sql/include/jit_load.sql
  tsl/test/sql/include/transparent_decompression_query.sql
  tsl/test/src/CMakeLists.txt
  tsl/test/src/test_continuous_aggs.c
Labels: continuous-aggs

#2305 Migrate ignore_invalidation_older_than for continuous aggregates
  sql/updates/latest-dev.sql
  test/sql/updates/post.continuous_aggs.v2.sql
  test/sql/updates/setup.continuous_aggs.v2.sql
Labels: continuous-aggs

#2377 Fix segfault in ALTER VIEW SET
  src/process_utility.c
  test/expected/alter.out
  test/sql/alter.sql
Labels: bug, continuous-aggs, severity-p1

#2381 Make block chunks API internal
  sql/ddl_api.sql
  sql/ddl_internal.sql
  test/expected/extension.out
  tsl/test/expected/data_node.out
  tsl/test/sql/data_node.sql
Labels: cleanup, multinode

#2384 Filter materialized hypertables in view
  sql/views.sql
  tsl/test/expected/continuous_aggs.out
  tsl/test/sql/continuous_aggs.sql
Labels: continuous-aggs

#2362 Update policy_stats view with additional fields
  sql/views.sql
  tsl/test/expected/bgw_reorder_drop_chunks.out
  tsl/test/expected/continuous_aggs_bgw.out
Labels: docs-update-needed, ui/ux

#2391 Allow REFRESH MATERIALIZED VIEW to refresh caggs
  src/process_utility.c
  tsl/test/expected/continuous_aggs_refresh.out
  tsl/test/sql/continuous_aggs_refresh.sql
Labels: continuous-aggs

#2376 Fix caggs width expression handling on int based hypertables
  tsl/src/continuous_aggs/create.c
  tsl/test/expected/continuous_aggs_ddl.out
  tsl/test/expected/continuous_aggs_errors.out
  tsl/test/sql/continuous_aggs_ddl.sql
Labels: continuous-aggs, ui/ux

#2405 Update README for continuous aggregates
  tsl/src/continuous_aggs/Readme.md
Labels: documentation

#2415 Check owner when refreshing a continuous aggregate
  tsl/src/continuous_aggs/refresh.c
  tsl/test/expected/continuous_aggs_permissions.out
Labels: bug, continuous-aggs

#2404 Fix alter_job not updating new job fields
  src/bgw/job.c
  tsl/test/expected/bgw_custom.out
  tsl/test/sql/bgw_custom.sql
Labels: background-worker, bug

#2387 Avoid having to cast time arg for cagg policy
  src/time_utils.c
  src/time_utils.h
  tsl/src/bgw_policy/continuous_aggregate_api.c
  tsl/test/expected/continuous_aggs_policy.out
  tsl/test/sql/continuous_aggs_policy.sql
Labels: background-worker

#2429 Remove catalog options for continuous aggregates
  sql/pre_install/tables.sql
  sql/updates/latest-dev.sql
  src/catalog.h
  tsl/src/continuous_aggs/create.c
  tsl/src/continuous_aggs/insert.c
  tsl/test/expected/continuous_aggs_bgw.out
  tsl/test/expected/continuous_aggs_watermark.out
  tsl/test/sql/continuous_aggs_watermark.sql
Labels: cleanup, continuous-aggs

#2417 Add timescaledb_information.jobs view
  sql/views.sql
  test/expected/pg_dump.out
  tsl/test/expected/bgw_custom.out
  tsl/test/expected/bgw_reorder_drop_chunks.out
  tsl/test/sql/bgw_custom.sql
  tsl/test/sql/bgw_reorder_drop_chunks.sql
Labels: Informational Tables, background-worker, docs-update-needed

#2441 Remove unused refresh arguments from invalidation
  tsl/src/continuous_aggs/invalidation.c
  tsl/src/continuous_aggs/invalidation.h
  tsl/src/continuous_aggs/refresh.c
Labels: cleanup, continuous-aggs

#2437 Update Timescale License
  tsl/LICENSE-TIMESCALE
Labels: license

#2451 Rename continuous_aggregate_policy parameters
  sql/policy_api.sql
Labels: docs-update-needed

#2456 Support compiler-agnostic annotations
  src/annotations.h
  src/cache_invalidate.c
  src/indexing.c
  src/planner.c
  src/process_utility.c
  test/src/bgw/timer_mock.c
  test/src/test_with_clause_parser.c
  tsl/src/remote/dist_ddl.c
Labels: cleanup

#2458 Rename policy parameters
  sql/policy_api.sql
  tsl/test/expected/continuous_aggs_bgw_drop_chunks.out
  tsl/test/sql/continuous_aggs_bgw_drop_chunks.sql
Labels: cleanup

#2467 Use postgres implementation of estimate_hashagg_tablesize
  src/compat.h
  src/import/planner.c
  src/import/planner.h
  src/plan_add_hashagg.c
Labels: cleanup
