Repository timescale/timescaledb, pull requests merged in 2021-11, with the labels that each got.

#3766 Fix segfault in ts_hist_sfunc
  CHANGELOG.md
  src/histogram.c
  test/expected/histogram_test.out
  test/sql/histogram_test.sql
Labels: segfault

#3768 Allow ALTER TABLE ADD COLUMN with DEFAULT on compressed hypertable
  CHANGELOG.md
  src/process_utility.c
  tsl/src/nodes/decompress_chunk/exec.c
  tsl/test/expected/compression_ddl.out
  tsl/test/expected/compression_errors.out
  tsl/test/expected/dist_compression.out
  tsl/test/sql/compression_ddl.sql
  tsl/test/sql/compression_errors.sql
  tsl/test/sql/dist_compression.sql
  tsl/test/sql/include/compression_alter.sql
Labels: compression, low-hanging-fruit

#3739 Fix compression policy on tables using INTEGER
  CHANGELOG.md
  sql/policy_internal.sql
  sql/updates/latest-dev.sql
  sql/updates/reverse-dev.sql
  tsl/test/expected/compression_bgw.out
  tsl/test/expected/compression_errors.out
  tsl/test/expected/dist_compression.out
  tsl/test/sql/compression_bgw.sql
  tsl/test/sql/dist_compression.sql
  tsl/test/sql/include/recompress_basic.sql
Labels: compression

#3743 Add coccinelle workflow to CI
  .github/workflows/coccinelle.yaml
  coccinelle/README.md
  coccinelle/heap_freetuple.cocci
  scripts/coccinelle.sh
Labels: ci

#3757 Add Postgres 14 prerequisites for compilation
  docs/BuildSource.md
Labels: documentation, build

#3801 Fail size utility functions when data nodes do not respond
  CHANGELOG.md
  sql/size_utils.sql
  tsl/test/t/001_simple_multinode.pl
Labels: multinode

#3812 Refactor isolation tests to prevent SQL injection
  tsl/test/isolation/expected/continuous_aggs_multi_dist_ht.out
  tsl/test/isolation/specs/continuous_aggs_multi_dist_ht.spec
Labels: continuous_aggregate, tech-debt

#3818 Backport PG13 typalign macros for PG12
  src/compat/compat.h
  src/continuous_agg.c
  src/event_trigger.c
  tsl/test/src/remote/remote_exec.c
Labels: continuous_aggregate, tech-debt
