Repository timescale/timescaledb, pull requests merged in 2022-02, with the labels that each got.

#4040 Bugfix: make add_continuous_aggregate_policy() work with variable-sized buckets
  tsl/src/bgw_policy/continuous_aggregate_api.c
  tsl/test/expected/cagg_monthly.out
  tsl/test/expected/cagg_with_timezone.out
  tsl/test/sql/cagg_monthly.sql
  tsl/test/sql/cagg_with_timezone.sql
Labels: bug

#4066 Fix "nm: unknown argument -defined-only" error on MacOS
  scripts/export_prefix_check.sh.in
Labels: bug

#4065 Add extra telemetry for continuous aggregates
  src/telemetry/stats.c
  src/telemetry/stats.h
  src/telemetry/telemetry.c
  tsl/test/expected/telemetry_stats.out
  tsl/test/sql/telemetry_stats.sql
Labels: telemetry

#4064 time_bucket_ng() bugfix
  .github/workflows/linux-32bit-build-and-test.yaml
  src/time_bucket.c
  test/expected/timestamp.out
Labels: bug, time_bucket_ng

#4104 Add missing OS-information in telemetry
  src/telemetry/telemetry.c
  test/expected/telemetry.out
Labels: telemetry
