Repository timescale/timescaledb, pull requests merged in 2022-04, with the labels that each got.

#4227 Add missing gitignore entry
  tsl/test/shared/sql/.gitignore
Labels: tech-debt, Core Database Team

#4228 Set PG14 as default scripts version
  scripts/docker-build.sh
  scripts/test_downgrade_from_tag.sh
  scripts/test_update_from_tag.sh
  scripts/test_updates.sh
  scripts/test_updates_pg13.sh
  scripts/test_updates_pg14.sh
Labels: build, tech-debt, Core Database Team

#3899 Fix segfault in Continuous Aggregates
  CHANGELOG.md
  scripts/test_repair_from_tag.sh
  scripts/test_repairs.sh
  scripts/test_update_smoke.sh
  sql/updates/post-update.sql
  src/cross_module_fn.c
  src/cross_module_fn.h
  src/utils.c
  src/utils.h
  test/sql/updates/setup.repair.cagg.sql
  test/sql/updates/setup.repair.sql
  tsl/src/chunk_api.c
  tsl/src/continuous_aggs/create.c
  tsl/src/continuous_aggs/create.h
  tsl/src/continuous_aggs/options.c
  tsl/src/init.c
  tsl/src/process_utility.c
  tsl/test/expected/cagg_ddl.out
  tsl/test/expected/cagg_ddl_dist_ht.out
  tsl/test/sql/include/cagg_ddl_common.sql
Labels: continuous_aggregate, segfault

#4258 Fix flaky dist grant tests
  test/runner.sh
  test/runner_shared.sh
  tsl/test/expected/dist_grant-12.out
  tsl/test/expected/dist_grant-13.out
  tsl/test/expected/dist_grant-14.out
Labels: flaky-test, Core Database Team
