Repository timescale/timescaledb, pull requests merged in 2022-01, with the labels that each got.

#3948 Avoid double PQclear() in data fetchers
  tsl/src/remote/cursor_fetcher.c
  tsl/src/remote/row_by_row_fetcher.c
Labels: bug, multinode

#3973 Adjust apt package test to match docs
  .github/workflows/apt-packages.yaml
Labels: ci

#3983 Add exception to invalidation SQL functions
  tsl/src/continuous_aggs/invalidation.c
  tsl/test/expected/continuous_aggs_invalidation.out
  tsl/test/expected/continuous_aggs_invalidation_dist_ht.out
  tsl/test/sql/include/continuous_aggs_invalidation_common.sql
Labels: continuous_aggregate, segfault

#3859 Refactor invalidation log inclusion
  src/chunk.c
  src/cross_module_fn.c
  src/cross_module_fn.h
  src/process_utility.c
  test/expected/license.out
  test/sql/license.sql
  tsl/src/continuous_aggs/create.c
  tsl/src/continuous_aggs/invalidation.c
  tsl/src/continuous_aggs/invalidation.h
  tsl/src/init.c
Labels: continuous_aggregate, tech-debt

#3994 Don't allow using buckets like '1 month 15 days' + some refactorings
  src/continuous_agg.c
  src/utils.c
  src/utils.h
  tsl/src/continuous_aggs/create.c
  tsl/test/expected/continuous_aggs_variable_size_buckets.out
  tsl/test/sql/continuous_aggs_variable_size_buckets.sql
Labels: bug, time_bucket_ng

#4015 Eliminate float rounding instabilities in interpolate
  CHANGELOG.md
  tsl/src/nodes/gapfill/interpolate.c
  tsl/test/shared/expected/gapfill-12.out
  tsl/test/shared/expected/gapfill-13.out
  tsl/test/shared/expected/gapfill-14.out
  tsl/test/shared/sql/gapfill.sql.in
Labels: gapfill

#4016 Make pgtest input/output dir optional
  test/pgtest/CMakeLists.txt
Labels: pg15

#4026 Add coccinelle scripts for detecting use-after-free
  .github/workflows/coccinelle.yaml
  coccinelle/hypertable_cache.cocci
  coccinelle/hypertable_cache2.cocci
  scripts/coccinelle.sh
Labels: ci
