Repository timescale/timescaledb, pull requests merged in 2024-11, with the labels that each got.

#7413 Add GUC for segmentwise recompression
  .unreleased/pr_7413
  src/guc.c
  src/guc.h
  tsl/src/compression/api.c
  tsl/test/expected/recompress_chunk_segmentwise.out
  tsl/test/sql/recompress_chunk_segmentwise.sql
Labels: compression

#7416 Use America/Los_Angeles in tests instead of PST8PDT
  tsl/test/expected/cagg_watermark.out
  tsl/test/expected/chunk_merge.out
  tsl/test/expected/compression.out
  tsl/test/expected/compression_bgw.out
  tsl/test/expected/compression_ddl.out
  tsl/test/expected/compression_insert.out
  tsl/test/expected/continuous_aggs-14.out
  tsl/test/expected/continuous_aggs-15.out
  tsl/test/expected/continuous_aggs-16.out
  tsl/test/expected/continuous_aggs-17.out
  tsl/test/expected/feature_flags.out
  tsl/test/expected/information_view_chunk_count.out
  tsl/test/expected/jit.out
  tsl/test/expected/size_utils_tsl.out
  tsl/test/expected/telemetry_stats.out
  tsl/test/expected/transparent_decompression-14.out
  tsl/test/expected/transparent_decompression-15.out
  tsl/test/expected/transparent_decompression-16.out
  tsl/test/expected/transparent_decompression-17.out
  tsl/test/sql/cagg_watermark.sql
  tsl/test/sql/chunk_merge.sql
  tsl/test/sql/compression.sql
  tsl/test/sql/compression_bgw.sql
  tsl/test/sql/compression_ddl.sql
  tsl/test/sql/compression_insert.sql
  tsl/test/sql/continuous_aggs.sql.in
  tsl/test/sql/feature_flags.sql
  tsl/test/sql/information_view_chunk_count.sql
  tsl/test/sql/jit.sql
  tsl/test/sql/size_utils_tsl.sql
  tsl/test/sql/telemetry_stats.sql
  tsl/test/sql/transparent_decompression.sql.in
Labels: force-auto-backport

#7425 Backport to 2.17.x: #7416: Use America/Los_Angeles in tests instead of PST8PDT
  tsl/test/expected/cagg_watermark.out
  tsl/test/expected/chunk_merge.out
  tsl/test/expected/compression.out
  tsl/test/expected/compression_bgw.out
  tsl/test/expected/compression_ddl.out
  tsl/test/expected/compression_insert.out
  tsl/test/expected/continuous_aggs-14.out
  tsl/test/expected/continuous_aggs-15.out
  tsl/test/expected/continuous_aggs-16.out
  tsl/test/expected/continuous_aggs-17.out
  tsl/test/expected/feature_flags.out
  tsl/test/expected/information_view_chunk_count.out
  tsl/test/expected/jit.out
  tsl/test/expected/size_utils_tsl.out
  tsl/test/expected/telemetry_stats.out
  tsl/test/expected/transparent_decompression-14.out
  tsl/test/expected/transparent_decompression-15.out
  tsl/test/expected/transparent_decompression-16.out
  tsl/test/expected/transparent_decompression-17.out
  tsl/test/sql/cagg_watermark.sql
  tsl/test/sql/chunk_merge.sql
  tsl/test/sql/compression.sql
  tsl/test/sql/compression_bgw.sql
  tsl/test/sql/compression_ddl.sql
  tsl/test/sql/compression_insert.sql
  tsl/test/sql/continuous_aggs.sql.in
  tsl/test/sql/feature_flags.sql
  tsl/test/sql/information_view_chunk_count.sql
  tsl/test/sql/jit.sql
  tsl/test/sql/size_utils_tsl.sql
  tsl/test/sql/telemetry_stats.sql
  tsl/test/sql/transparent_decompression.sql.in
Labels: is-auto-backport

#7426 Fix datetime parse error in chunk constraint creation
  .unreleased/pr_7426
  src/chunk_constraint.c
Labels: bug

#7411 Change parameter name to enable Hypercore TAM
  .github/workflows/pgspot.yaml
  .unreleased/pr_7411
  sql/maintenance_utils.sql
  sql/policy_api.sql
  sql/policy_internal.sql
  sql/updates/latest-dev.sql
  sql/updates/reverse-dev.sql
  tsl/src/bgw_policy/compression_api.c
  tsl/src/bgw_policy/compression_api.h
  tsl/src/bgw_policy/policies_v2.c
  tsl/src/bgw_policy/policies_v2.h
  tsl/src/compression/api.c
  tsl/src/compression/api.h
  tsl/test/expected/hypercore_copy.out
  tsl/test/expected/hypercore_create.out
  tsl/test/expected/hypercore_cursor.out
  tsl/test/expected/hypercore_ddl.out
  tsl/test/expected/hypercore_index_btree.out
  tsl/test/expected/hypercore_index_hash.out
  tsl/test/expected/hypercore_insert.out
  tsl/test/expected/hypercore_join.out
  tsl/test/expected/hypercore_merge.out
  tsl/test/expected/hypercore_parallel.out
  tsl/test/expected/hypercore_policy.out
  tsl/test/expected/hypercore_types.out
  tsl/test/expected/hypercore_update.out
  tsl/test/shared/expected/extension.out
  tsl/test/sql/hypercore_copy.sql
  tsl/test/sql/hypercore_create.sql
  tsl/test/sql/hypercore_cursor.sql
  tsl/test/sql/hypercore_ddl.sql
  tsl/test/sql/hypercore_index_btree.sql
  tsl/test/sql/hypercore_index_hash.sql
  tsl/test/sql/hypercore_insert.sql
  tsl/test/sql/hypercore_join.sql
  tsl/test/sql/hypercore_merge.sql
  tsl/test/sql/hypercore_parallel.sql
  tsl/test/sql/hypercore_policy.sql
  tsl/test/sql/hypercore_update.sql
  tsl/test/sql/include/hypercore_type_table.sql
Labels: table-access-method

#7390 Remove custom hashagg code
  .unreleased/pr_7390
  src/guc.c
  src/guc.h
  src/planner/add_hashagg.c
  test/expected/parallel-14.out
  test/expected/parallel-15.out
  test/expected/parallel-16.out
  test/expected/parallel-17.out
  test/expected/plan_hashagg-14.out
  test/expected/plan_hashagg-15.out
  test/expected/plan_hashagg-16.out
  test/expected/plan_hashagg-17.out
  test/sql/plan_hashagg.sql.in
Labels: tech-debt

#7435 Fix hypercore stats flaky tests
  tsl/test/expected/hypercore_stats.out
  tsl/test/sql/hypercore_stats.sql
Labels: flaky-test, hypercore

#7412 Add GUC for hypercore_use_access_method default
  .unreleased/pr_7412
  src/guc.c
  src/guc.h
  tsl/src/bgw_policy/compression_api.h
  tsl/src/compression/api.c
  tsl/src/compression/api.h
  tsl/test/expected/hypercore.out
  tsl/test/expected/hypercore_create.out
  tsl/test/expected/hypercore_vacuum.out
  tsl/test/sql/hypercore_create.sql
Labels: hypercore

#7434 Fix segfault when setting chunk replica identity
  .unreleased/pr_7434
  src/chunk.c
  test/expected/create_chunks.out
  test/sql/create_chunks.sql
Labels: bug, hypertable

#7442 Backport to 2.17.x: #7434: Fix segfault when setting chunk replica identity
  .unreleased/pr_7434
  src/chunk.c
  test/expected/create_chunks.out
  test/sql/create_chunks.sql
Labels: is-auto-backport

#7440 Fix hypercore stats flaky tests (take 2)
  tsl/test/expected/hypercore_stats.out
  tsl/test/sql/hypercore_stats.sql
Labels: flaky-test, hypercore

#7445 Fix notice when recompressing hypercore TAM
  tsl/src/compression/api.c
  tsl/test/expected/hypercore.out
  tsl/test/expected/hypercore_create.out
  tsl/test/expected/hypercore_vacuum.out
  tsl/test/sql/hypercore_create.sql
Labels: hypercore

#7451 Remove unnecessary TimescaleDB functions
  src/ts_catalog/catalog.c
  src/ts_catalog/catalog.h
  tsl/src/compression/api.c
  tsl/src/compression/compression.c
  tsl/src/compression/compression.h
Labels: tech-debt

#7364 Fix issues with Hypercore TAM recompression
  tsl/src/compression/api.c
  tsl/src/compression/compression.c
  tsl/src/hypercore/hypercore_handler.c
  tsl/src/hypercore/hypercore_handler.h
  tsl/test/expected/hypercore.out
  tsl/test/expected/hypercore_create.out
  tsl/test/sql/CMakeLists.txt
  tsl/test/sql/hypercore.sql
  tsl/test/src/CMakeLists.txt
  tsl/test/src/test_hypercore.c
Labels: hypercore

#7452 Add vacuum to fix flaky tests
  tsl/test/expected/compression.out
  tsl/test/expected/compression_ddl.out
  tsl/test/sql/compression.sql
  tsl/test/sql/compression_ddl.sql
Labels: flaky-test, force-auto-backport

#7358 Disable autovacuum on compressed hypercore chunk
  src/utils.c
  src/utils.h
  tsl/src/compression/api.c
  tsl/src/hypercore/hypercore_handler.c
  tsl/src/hypercore/utils.c
  tsl/src/hypercore/utils.h
  tsl/src/process_utility.c
  tsl/test/expected/hypercore_create.out
  tsl/test/sql/hypercore_create.sql
Labels: hypercore

#7465 Hardcode minor version for Windows builds
  .github/workflows/windows-build-and-test.yaml
Labels: ci

#7441 Add tests for defaults and generated column values
  tsl/test/expected/hypercore.out
  tsl/test/sql/hypercore.sql
Labels: table-access-method, hypercore

#7469 Backport to 2.17.x: #7465: Hardcode minor version for Windows builds
  .github/workflows/windows-build-and-test.yaml
Labels: is-auto-backport

#7467 Fix crash when converting to Hypercore TAM
  tsl/src/compression/compression.c
  tsl/src/hypercore/hypercore_handler.c
Labels: table-access-method, hypercore

#7456 Fix regression test output due to upstream changes
  tsl/test/expected/cagg_ddl-14.out
  tsl/test/expected/cagg_ddl-15.out
  tsl/test/expected/cagg_ddl-16.out
  tsl/test/expected/cagg_ddl-17.out
  tsl/test/sql/cagg_ddl.sql.in
Labels: bug, testing, continuous_aggregate

#7462 Don't detoast compressed data on Bump memory context
  tsl/src/hypercore/arrow_array.c
  tsl/test/expected/hypercore_scans.out
  tsl/test/sql/hypercore_scans.sql
Labels: pg17, hypercore

#7463 Allow SET NOT NULL on column of compressed table
  src/process_utility.c
  tsl/src/hypercore/utils.c
  tsl/test/expected/compression_ddl.out
  tsl/test/expected/compression_errors-14.out
  tsl/test/expected/compression_errors-15.out
  tsl/test/expected/compression_errors-16.out
  tsl/test/expected/compression_errors-17.out
  tsl/test/expected/hypercore_ddl.out
  tsl/test/sql/compression_ddl.sql
  tsl/test/sql/hypercore_ddl.sql
Labels: compression, ddl

#7470 Backport to 2.17.x: #7456: Fix regression test output due to upstream changes
  tsl/test/expected/cagg_ddl-14.out
  tsl/test/expected/cagg_ddl-15.out
  tsl/test/expected/cagg_ddl-16.out
  tsl/test/expected/cagg_ddl-17.out
  tsl/test/sql/cagg_ddl.sql.in
Labels: is-auto-backport

#7453 Backport to 2.17.x: #7452: Add vacuum to fix flaky tests
  tsl/test/expected/compression.out
  tsl/test/expected/compression_ddl.out
  tsl/test/sql/compression.sql
  tsl/test/sql/compression_ddl.sql
Labels: is-auto-backport

#7454 Refactor option to skip compressed in Hypercore TAM scans
  tsl/src/compression/api.c
  tsl/src/compression/compression.c
  tsl/src/hypercore/hypercore_handler.c
  tsl/src/hypercore/hypercore_handler.h
  tsl/test/src/test_hypercore.c
Labels: hypercore

#7472 Add test for concurrent index builds for hypercore
  tsl/src/hypercore/hypercore_handler.c
  tsl/test/expected/hypercore.out
  tsl/test/sql/hypercore.sql
Labels: table-access-method, hypercore

#7474 Fix building against PG14.0
  tsl/src/hypercore/hypercore_handler.c
Labels: ci, hypercore

#7438 Bump PG versions used in CI
  .github/ci_settings.py
Labels: ci, force-auto-backport

#7476 Backport to 2.17.x: #7438: Bump PG versions used in CI
  .github/ci_settings.py
Labels: is-auto-backport

#7473 Add check that TID range is not exhausted
  tsl/src/hypercore/arrow_tts.h
Labels: table-access-method, hypercore

#7356 Add dump/restore support for Hypercore TAM
  src/guc.c
  src/guc.h
  test/sql/utils/pg_dump_aux_dump.sh
  tsl/src/compression/api.c
  tsl/src/hypercore/hypercore_handler.c
  tsl/src/hypercore/hypercore_handler.h
  tsl/src/process_utility.c
  tsl/test/expected/hypercore_dump_restore.out
  tsl/test/sql/CMakeLists.txt
  tsl/test/sql/hypercore_dump_restore.sql
Labels: hypercore

#7488 Emit error on transition table trigger for chunks
  .unreleased/pr_7488
  src/process_utility.c
  test/expected/triggers.out
  test/sql/triggers.sql
Labels: ui/ux, hypertable

#7493 Backport to 2.17.x: #7488: Emit error on transition table trigger for chunks
  .unreleased/pr_7488
  src/process_utility.c
  test/expected/triggers.out
  test/sql/triggers.sql
Labels: is-auto-backport

#7477 Use version on Windows from config generated file
  .github/workflows/windows-build-and-test.yaml
Labels: ci

#7483 Add hypercore chunk tests for triggers
  tsl/test/expected/hypercore_trigger.out
  tsl/test/sql/CMakeLists.txt
  tsl/test/sql/hypercore_trigger.sql
Labels: testing, table-access-method, hypercore
