Repository timescale/timescaledb, pull requests merged in 2024-04, with the labels that each got.

#6767 Track job execution history
  .unreleased/pr_6767
  cmake/ScriptFiles.cmake
  sql/compat.sql
  sql/job_stat_history_log_retention.sql
  sql/pre_install/tables.sql
  sql/updates/latest-dev.sql
  sql/updates/reverse-dev.sql
  sql/views.sql
  src/bgw/CMakeLists.txt
  src/bgw/job.c
  src/bgw/job.h
  src/bgw/job_stat.c
  src/bgw/job_stat.h
  src/bgw/job_stat_history.c
  src/bgw/job_stat_history.h
  src/bgw/scheduler.c
  src/bgw/worker.h
  src/guc.c
  src/guc.h
  src/ts_catalog/catalog.c
  src/ts_catalog/catalog.h
  src/utils.h
  test/expected/chunk_utils.out
  test/expected/drop_rename_hypertable.out
  test/expected/pg_dump.out
  tsl/test/expected/bgw_job_stat_history.out
  tsl/test/expected/bgw_job_stat_history_errors.out
  tsl/test/expected/bgw_job_stat_history_errors_permissions.out
  tsl/test/expected/bgw_policy.out
  tsl/test/expected/telemetry_stats-13.out
  tsl/test/expected/telemetry_stats-14.out
  tsl/test/expected/telemetry_stats-15.out
  tsl/test/expected/telemetry_stats-16.out
  tsl/test/shared/expected/compat.out
  tsl/test/shared/expected/extension.out
  tsl/test/shared/sql/compat.sql
  tsl/test/sql/CMakeLists.txt
  tsl/test/sql/bgw_job_stat_history.sql
  tsl/test/sql/bgw_job_stat_history_errors.sql
  tsl/test/sql/bgw_job_stat_history_errors_permissions.sql
  tsl/test/sql/telemetry_stats.sql.in
  tsl/test/t/001_job_crash_log.pl
Labels: bgw, enhancement, jobs

#6382 Support for CAgg with time_bucket origin/offset parameter
  .unreleased/feature_6382
  src/func_cache.c
  src/time_bucket.c
  src/time_bucket.h
  src/ts_catalog/continuous_agg.c
  src/utils.h
  tsl/src/continuous_aggs/common.c
  tsl/src/continuous_aggs/create.c
  tsl/src/continuous_aggs/invalidation.c
  tsl/src/continuous_aggs/materialize.c
  tsl/src/continuous_aggs/materialize.h
  tsl/src/continuous_aggs/refresh.c
  tsl/src/continuous_aggs/refresh.h
  tsl/test/expected/cagg_ddl-13.out
  tsl/test/expected/cagg_ddl-14.out
  tsl/test/expected/cagg_ddl-15.out
  tsl/test/expected/cagg_ddl-16.out
  tsl/test/expected/cagg_errors.out
  tsl/test/expected/cagg_query.out
  tsl/test/expected/cagg_usage-13.out
  tsl/test/expected/cagg_usage-14.out
  tsl/test/expected/cagg_usage-15.out
  tsl/test/expected/cagg_usage-16.out
  tsl/test/expected/cagg_utils.out
  tsl/test/sql/cagg_ddl.sql.in
  tsl/test/sql/cagg_errors.sql
  tsl/test/sql/cagg_query.sql
  tsl/test/sql/cagg_usage.sql.in
Labels: continuous_aggregate, time_bucket

#6822 Backport to 2.14.x: #6820: Check for trigger context before accessing data
  .unreleased/fix_6820
  src/hypertable.c
  test/expected/triggers.out
  test/sql/triggers.sql
Labels: is-auto-backport

#6825 Bump pgspot version used in CI
  .github/workflows/pgspot.yaml
Labels: ci

#6797 Fix FK constraints for compressed chunks
  .unreleased/pr_6797
  src/chunk.c
  src/chunk.h
  tsl/src/compression/api.c
  tsl/test/expected/compression.out
  tsl/test/expected/compression_fks.out
  tsl/test/sql/CMakeLists.txt
  tsl/test/sql/compression_fks.sql
Labels: compression, migration

#6823 Remove CAgg watermark cache
  src/ts_catalog/continuous_aggs_watermark.c
Labels: continuous_aggregate, tech-debt

#6839 Allow changing real-time flag on deprecated CAggs
  tsl/src/continuous_aggs/common.c
  tsl/src/continuous_aggs/create.c
  tsl/src/continuous_aggs/repair.c
  tsl/test/expected/exp_cagg_next_gen.out
  tsl/test/sql/exp_cagg_next_gen.sql
Labels: continuous_aggregate

#6831 Refactor bgw_job_stat_history
  sql/pre_install/tables.sql
  sql/updates/latest-dev.sql
  sql/updates/reverse-dev.sql
  sql/views.sql
  src/bgw/job_stat.c
  src/bgw/job_stat.h
  src/bgw/job_stat_history.c
  src/compat/compat.h
  src/telemetry/telemetry_metadata.c
  src/ts_catalog/catalog.h
  test/expected/telemetry.out
  tsl/test/expected/bgw_job_stat_history.out
  tsl/test/expected/bgw_job_stat_history_errors.out
  tsl/test/expected/bgw_job_stat_history_errors_permissions.out
  tsl/test/expected/telemetry_stats-13.out
  tsl/test/expected/telemetry_stats-14.out
  tsl/test/expected/telemetry_stats-15.out
  tsl/test/expected/telemetry_stats-16.out
  tsl/test/sql/bgw_job_stat_history.sql
  tsl/test/sql/bgw_job_stat_history_errors.sql
  tsl/test/sql/bgw_job_stat_history_errors_permissions.sql
  tsl/test/sql/telemetry_stats.sql.in
Labels: bgw, tech-debt, jobs

#6834 Add ts_stat_statements callbacks
  src/CMakeLists.txt
  src/guc.c
  src/guc.h
  src/process_utility.c
  src/tss_callbacks.c
  src/tss_callbacks.h
  test/expected/test_tss_callbacks.out
  test/sql/CMakeLists.txt
  test/sql/test_tss_callbacks.sql
  test/src/CMakeLists.txt
  test/src/test_tss_callbacks.c
Labels: ddl

#6845 Migrate missing job info to history table
  sql/updates/latest-dev.sql
Labels: bgw, migration, jobs

#6846 Fix missing pid in job execution history
  src/bgw/job_stat_history.c
  tsl/test/expected/bgw_job_stat_history.out
  tsl/test/sql/bgw_job_stat_history.sql
Labels: bug, bgw, jobs, disable-auto-backport

#6847 Fix handling of timezone attr in job scheduler
  src/bgw/job.c
Labels: bug, bgw, jobs, disable-auto-backport

#6852 Use proper macros to check for invalid objects
  src/bgw/job.c
  src/chunk.c
Labels: tech-debt

#6857 Remove pg12 version check in prove tests
  test/t/CMakeLists.txt
Labels: testing, ci

#6860 Remove `relation_oid` duplicated function
  tsl/src/continuous_aggs/common.c
  tsl/src/continuous_aggs/common.h
  tsl/src/continuous_aggs/repair.c
Labels: refactor

#6837 Add migration for CAggs using time_bucket_ng
  .unreleased/feature_6837
  sql/cagg_migrate.sql
  sql/updates/latest-dev.sql
  sql/updates/reverse-dev.sql
  src/cross_module_fn.c
  src/cross_module_fn.h
  src/extension.h
  src/time_bucket.h
  src/ts_catalog/continuous_agg.c
  src/ts_catalog/continuous_agg.h
  tsl/src/continuous_aggs/common.c
  tsl/src/continuous_aggs/common.h
  tsl/src/continuous_aggs/refresh.c
  tsl/src/continuous_aggs/utils.c
  tsl/src/continuous_aggs/utils.h
  tsl/src/init.c
  tsl/test/expected/cagg_migrate_function-13.out
  tsl/test/expected/cagg_migrate_function-14.out
  tsl/test/expected/cagg_migrate_function-15.out
  tsl/test/expected/cagg_migrate_function-16.out
  tsl/test/shared/expected/extension.out
  tsl/test/sql/CMakeLists.txt
  tsl/test/sql/cagg_migrate_function.sql.in
  tsl/test/sql/include/cagg_run_timebucket_migration.sql
Labels: continuous_aggregate

#6865 Update the watermark when truncating a CAgg
  .unreleased/feature_6865
  src/process_utility.c
  tsl/test/expected/cagg_ddl-13.out
  tsl/test/expected/cagg_ddl-14.out
  tsl/test/expected/cagg_ddl-15.out
  tsl/test/expected/cagg_ddl-16.out
  tsl/test/sql/cagg_ddl.sql.in
Labels: continuous_aggregate, tech-debt

#6867 Clean up compression settings when deleting compressed cagg
  .unreleased/pr_6867
  src/ts_catalog/continuous_agg.c
  tsl/test/expected/cagg_ddl-13.out
  tsl/test/expected/cagg_ddl-14.out
  tsl/test/expected/cagg_ddl-15.out
  tsl/test/expected/cagg_ddl-16.out
  tsl/test/sql/cagg_ddl.sql.in
Labels: continuous_aggregate

#6871 Remove TimevalInfinity enum
  src/hypertable_restrict_info.c
  src/utils.c
  src/utils.h
Labels: tech-debt

#6870 Fix bool expression pushdown for queries on compressed chunks
  .unreleased/pr_6870
  tsl/src/nodes/decompress_chunk/qual_pushdown.c
  tsl/test/expected/compression_qualpushdown.out
  tsl/test/expected/transparent_decompression-13.out
  tsl/test/expected/transparent_decompression-14.out
  tsl/test/expected/transparent_decompression-15.out
  tsl/test/expected/transparent_decompression-16.out
  tsl/test/shared/expected/transparent_decompress_chunk-13.out
  tsl/test/shared/expected/transparent_decompress_chunk-14.out
  tsl/test/shared/expected/transparent_decompress_chunk-15.out
  tsl/test/shared/expected/transparent_decompress_chunk-16.out
  tsl/test/sql/compression_qualpushdown.sql
Labels: compression

#6873 Introduce release notes header template
  .github/workflows/changelog-check.yaml
  .unreleased/template.release_notes.j2
  scripts/merge_changelogs.sh
Labels: release, enhancement, 2.15.0
