Repository timescale/timescaledb, pull requests merged in 2024-08, with the labels that each got.

#7173 Post-release adjustments for 2.16.0
  sql/CMakeLists.txt
  sql/updates/2.16.0--2.15.3.sql
  sql/updates/reverse-dev.sql
  version.config
Labels: release

#7166 Leftover from previous CAgg refactoring
  tsl/src/continuous_aggs/common.c
  tsl/src/continuous_aggs/materialize.c
Labels: continuous_aggregate, tech-debt

#7126 Add function to show compression information
  .unreleased/pr_7126
  sql/pre_install/types.functions.sql
  sql/updates/latest-dev.sql
  sql/updates/reverse-dev.sql
  src/cross_module_fn.c
  src/cross_module_fn.h
  tsl/src/compression/algorithms/array.c
  tsl/src/compression/algorithms/array.h
  tsl/src/compression/algorithms/deltadelta.c
  tsl/src/compression/algorithms/deltadelta.h
  tsl/src/compression/algorithms/dictionary.c
  tsl/src/compression/algorithms/dictionary.h
  tsl/src/compression/algorithms/gorilla.c
  tsl/src/compression/algorithms/gorilla.h
  tsl/src/compression/compression.c
  tsl/src/compression/compression.h
  tsl/src/init.c
  tsl/test/expected/compression_algos.out
  tsl/test/shared/expected/extension.out
  tsl/test/sql/include/compression_test.sql
Labels: compression

#7178 Bump pgspot to 0.8.0
  .github/workflows/pgspot.yaml
Labels: ci

#7184 Release 2.16.1
  .unreleased/pr_7182
  CHANGELOG.md
  sql/CMakeLists.txt
  sql/updates/2.16.0--2.16.1.sql
  version.config
Labels: release

#6882 Allow DELETE on compressed chunks without decompression
  .unreleased/pr_6882
  src/guc.c
  src/guc.h
  src/nodes/chunk_dispatch/chunk_dispatch.h
  src/nodes/hypertable_modify.c
  src/nodes/hypertable_modify.h
  tsl/src/compression/compression.h
  tsl/src/compression/compression_dml.c
  tsl/test/expected/compression_update_delete.out
  tsl/test/expected/foreign_keys.out
  tsl/test/shared/expected/compression_dml.out
  tsl/test/shared/expected/decompress_tracking.out
  tsl/test/shared/sql/compression_dml.sql
  tsl/test/shared/sql/decompress_tracking.sql
  tsl/test/sql/compression_update_delete.sql
  tsl/test/sql/foreign_keys.sql
Labels: compression

#7191 Fix create default indexes on chunks
  .unreleased/pr_7191
  src/hypertable.c
  test/expected/create_hypertable.out
  test/sql/create_hypertable.sql
Labels: bug, hypertable

#7194 Fix early abort in compression-ddl test
  tsl/test/expected/compression_ddl.out
  tsl/test/sql/compression_ddl.sql
Labels: testing, compression

#7201 Fix extension comment for generic loader package
  .unreleased/pr_7201
  CMakeLists.txt
  timescaledb.control.in
Labels: packaging

#7202 Add ts_update_placeholder function
  scripts/check_updates_ast.py
  sql/updates/latest-dev.sql
  src/utils.c
Labels: ci

#7195 Fix check when dropping compressed column (#7102)
  .unreleased/pr_7195
  tsl/src/compression/create.c
  tsl/test/expected/compression_ddl.out
  tsl/test/sql/compression_ddl.sql
Labels: bug, compression

#7203 Backport to 2.16.x: #7201: Fix extension comment for generic loader package
  .unreleased/pr_7201
  CMakeLists.txt
  timescaledb.control.in
Labels: is-auto-backport

#7192 Backport to 2.16.x: #7191: Fix create default indexes on chunks
  .unreleased/pr_7191
  src/hypertable.c
  test/expected/create_hypertable.out
  test/sql/create_hypertable.sql
Labels: is-auto-backport

#7204 Track additional extensions in telemetry
  .unreleased/pr_7204
  src/telemetry/telemetry.c
Labels: telemetry

#7222 Comment tentative feature-notes lines
  .unreleased/RELEASE_NOTES_HEADER.md.j2
Labels: force-auto-backport

#7224 Backport to 2.16.x: #7222: Comment tentative feature-notes lines
  .unreleased/RELEASE_NOTES_HEADER.md.j2
Labels: is-auto-backport
